body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



/* navbar */
#nav-bar {
  position: static;
  z-index: 10;
  top: 0;
}

.navbar-brand img {
  padding-left: 10px;
}

.navbar-nav li {
  padding: 0 10px;

}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover{
  color: #E45826;
}



.navbar-toggler {
  border: none!important;

}

.nav-link {
  color: black;
  font-weight: 600;
  font-size: 14px;
}


/* Slider */
.carousel-caption {
 top: 50%;
 transform: transformY(-50%);
 bottom: initial;
}

.carousel-caption h2 {
  padding-right: 40%;
}


.slogan {
  color: #E45826;
}




/* About */
#About {
  margin-top: 100px;
  color: #E45826;
}

#About a {
  color: #555;
  text-decoration: none;
}
#About a:hover {
  color: #E45826;

}

.about-content {
  padding-top: 20px;
  color: #555;
}

.barista-image {
    float: right;
    margin-top: auto;
  }

@media (max-width: 1024px) {
  #About {
    text-align: center;
  }
}
/* SHOP */

#shop {
  padding: 100px;
  margin-top: 50px;
}

#shop h4 {
  text-align: center;
}

.shop-column {
  padding: 3% 3%;
}



#btn{
  border: 1px solid;
  width: 10%;
  margin-top: 40px;
  vertical-align: middle;
}



#btn:hover{
  background: #E45826;
}

#btn a:hover {
  color: white;
}


@media (max-width: 1024px) {
  #btn{
    width: 30% !important;

  }
}

/* Partner */
#partner {
  background-color: #E45826;
  background-size: cover;
  margin-top: 0px;
  height: 350px;
}


img {
  width: 90%;

}

.bg {
  margin-left: -15px;
}

.text-content {
  color: white;
  text-align: justify;
  line-height: 2;
  padding: 2% 5%;
  margin-top: 35px;

}

 .text-content p {
  margin-top: 30px;
}




@media (max-width: 1024px) {

  img {
    width: 110%;
    height: auto;
    max-height: 500px;
  }
  #partner {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    margin-top: 80%;
  }
  .text-content {
    text-align: ;
    margin: auto;

  }
}



/* subscription */

.container1 {
  text-align: center;
  color: black;
}

.icon i {
  margin-top: 120px;
  font-size: 4.2rem;
}

.icon h5 {
  padding: 20px;
  font-size: 1rem;
}

.icon p {
  color: #555;
  font-size: 0.6;
}

.input-group {
  margin: 3% 28%;
}

#input-form {
  max-width: 35%;
}


#signup-btn {
  background-color: black;
  color: white;
}



/* bottom */

@media (max-width: 1024px) {
  .bottom-container {
    text-align: center;
  }


.col-lg-2 {
  padding-top: 12px;
  
}

.col-lg-6 icon2{
  padding-top: 13%;


}

.icon-list {
 padding-top: 5%;
}

# bottom .copyright-row {
  padding-top: 0;
  margin-top: 10px;
}
}



#bottom{
  color: black;
  align-items: left;
  margin-top: 100px;
  margin-left: 5%;
  text-align: left;
}

.bottom-container p {
  color: #555;
  margin-top: 20px;
  line-height: 1;
}

#bottom ul li {
  list-style: none;
  font-size: 2rem;
  display: inline-flex;
  padding-right: 15px;
}

.icon-list {
  display: flex;
  text-align: right;
}


.copyright-row {
  font-size: 0.8rem;
  margin-top: 100px;
  padding-bottom: 5%;
}

.col-lg-6 i:hover {
color: #E45826;
}
